absl-py==2.1.0
albumentations==1.0.0
anykeystore==0.2
apex @ file:///root/autodl-tmp/SupContrast/apex
batchgenerators==0.25
beautifulsoup4==4.12.3
blessed==1.20.0
cachetools==5.3.2
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.1.1
cryptacular==1.6.2
cycler==0.12.1
defusedxml==0.7.1
efficientnet-pytorch==0.7.1
# pip install git+https://github.com/shijianjian/EfficientNet-PyTorch-3D
et-xmlfile==1.1.0
filelock==3.13.1
fonttools==4.47.2
fsspec==2024.2.0
gdown==5.1.0
google-auth==2.27.0
google-auth-oauthlib==1.0.0
gpustat==1.1.1
greenlet==3.0.3
grpcio==1.60.1
huggingface-hub==0.20.3
hupper==1.12.1
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.1
joblib==1.3.2
kiwisolver==1.4.5
Markdown==3.5.2
MarkupSafe==2.1.5
matplotlib==3.7.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
numpy @ file:///croot/numpy_and_numpy_base_1682520569166/work
nvidia-ml-py==12.535.133
oauthlib==3.2.2
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1701735466804/work
opencv-python==4.9.0.80
openpyxl==3.1.2
packaging==23.2
pandas==2.0.3
PasteDeploy==3.1.0
pbkdf2==1.3
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1630696607296/work
plaster==1.1.2
plaster-pastedeploy==1.0.1
protobuf==3.20.0
psutil==5.9.8
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyparsing==3.1.1
pyramid==2.0.2
pyramid-mailer==0.15.1
PySocks==1.7.1
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.1
repoze.sendmail==4.4.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.4.2
scikit-learn==1.3.2
scipy==1.10.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve==2.5
SQLAlchemy==2.0.25
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboard-logger==0.1.0
threadpoolctl==3.2.0
timm==0.6.5
torch==1.10.1
torchaudio==0.10.1
torchvision==0.11.2
tqdm==4.66.1
transaction==4.0
translationstring==1.4
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1702176139754/work
tzdata==2023.4
urllib3==2.2.0
velruse==1.1.1
venusian==3.1.0
wcwidth==0.2.13
WebOb==1.8.7
Werkzeug==3.0.1
WTForms==3.1.2
wtforms-recaptcha==0.3.2
zipp==3.17.0
zope.deprecation==5.0
zope.interface==6.1
zope.sqlalchemy==3.1
